$color-background: #677077;
$color-white: white;
$color-border: #c7c7c7;
$color-filter: #d8eb2e;
$color-black: black;
$color-secondary: #1c5874;
$color-shadow: #727272;
$color-loader-background: #d5d5d5;