.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
    overflow-y: auto;
}

.product-tile-container {
    position: relative;
    margin: 2em;
    width: 10em;
    height: 18em;
    @include tile-padding-mixin;
    @include border-mixin;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.product-tile-image-container {
    height: 8em;
    display: flex;
    align-items: center;
}

.product-tile-image {
    margin: auto;
    height: auto;
    width: 100%;
    max-height: 8em;
}

.product-tile-title {
    @include font-oswald(16px, $color-black, 400);
    text-align: center;
}

.product-tile-price {
    @include font-oswald(20px, $color-black, 600);
    align-self: flex-end;
    margin: auto;
}

.product-tile-highlighted-text {
    color: $color-filter;
}

.product-tile-buttons-container {
    align-self: flex-end;
    width: 100%;
    margin: auto;
}

.product-tile-button {
    width: 100%;
    height: 3em;
}

.product-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7em;
}

.product-search-input {
    @include input-mixin;
    width: 50%;
    margin: auto;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.products-categories-option-label {
    @include font-oswald(16px, $color-black, 400);
}

.products-categories-option {
    @include font-oswald(16px, $color-black, 400);
    max-width: 50em;
    margin: auto;
    width: 50%;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.product-details-container {
    display: flex;
    flex-direction: column;
}

.product-details-review-container {
    @include border-mixin;
    @include tile-padding-mixin;
    border-radius: 12px;
    margin: auto;
    width: 45%;
    max-width: 50em;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.product-details-reviews-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-details-review-author,
.product-details-review-rating {
    @include font-oswald(16px, $color-black, 400);
}

.product-details-review-text {
    @include font-oswald(16px, $color-black, 300);
}

.product-details-title {
    @include font-oswald(24px, $color-black, 400);
    margin: auto;
}

.product-details-add-to-cart {
    width: 50%;
    max-width: 50em;
    margin: auto;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.product-details-description {
    @include font-oswald(16px, $color-black, 300);
    @include tile-padding-mixin;
    margin: auto;
}

.product-details-main-image-container {
    height: 15%;
    display: flex;
    align-items: center;
    width: 100%;
}

.product-details-main-image {
    width: auto;
    height: auto;
    margin: auto;
    max-height: 100%;
    max-width: 20em;
}

.product-details-other-images-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.product-details-other-image {
    @include border-mixin;
    @include tile-padding-mixin;
    border-radius: 12px;
    width: auto;
    height: auto;
    margin: auto;
    max-height: 10em;
    max-width: 10em;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}